* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

:root {
  --mainBackground-color: #dddddd;
  --mainPadding: 10px;
}

.page {
  background-color: #eeeeee;
  padding: var(--mainPadding, 10px);
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  background-color: var(--mainBackground-color);
  width: calc(8% - 10px);
  padding: calc(var(--mainPadding, 10px) + 10px);
  align-self: flex-start;
  display: flex;
  justify-content: center;
}

.links {
  background-color: var(--mainBackground-color);
  width: 92%;
  padding: calc(var(--mainPadding, 10px) + 10px);
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
}

li {
  list-style: none;
  margin-right: 10px;
}

.main-area {
  height: 300px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.content {
  background-color: var(--mainBackground-color);
  width: 70%;
  padding: var(--mainPadding);
}

.sidebar {
  background-color: var(--mainBackground-color);
  width: calc(30% - 10px);
  padding: var(--mainPadding);
}

.footer {
  background-color: var(--mainBackground-color);
  padding: calc(var(--mainPadding, 10px) + 10px);
  display: flex;
  justify-content: space-between;
}
