.layout {
  height: 800px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50px 700px 50px;
}

header {
  background-color: #03a9f4;
  grid-column: 1/5;
  position: relative;
}

header::before {
  content: "Header";
  color: #fff;
  position: absolute;
  padding: 15px 25px;
}

section {
  background-color: #ff5722;
  grid-column: 1/4;
  position: relative;
}

section::before {
  content: "Section";
  color: #fff;
  position: absolute;
  padding: 15px 25px;
}

aside {
  background-color: #607d8b;
  grid-column: 4/5;
  position: relative;
}

aside::before {
  content: "Aside";
  color: #fff;
  position: absolute;
  padding: 15px 25px;
}

footer {
  background-color: #009688;
  grid-column: 1/5;
  position: relative;
}

footer::before {
  content: "Footer";
  color: #fff;
  position: absolute;
  padding: 15px 25px;
}
