* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  font-weight: 500;
}

section {
  width: 1536px;
  height: 1042px;
  margin: auto;
  display: flex;
}

.frame {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame div {
  width: 404px;
  height: Fixed (583px) px;
  position: relative;
}

h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
}

p:first-of-type {
  margin-bottom: 15%;
  line-height: 24px;
}

a {
  color: #0f3dde;
  text-decoration: none;
}

.frame div a:not(p a) {
  position: absolute;
  top: 35%;
  right: 0%;
  font-size: 10px;
  line-height: 15px;
}

label:not([for="checkbox"]) {
  display: block;
  margin-top: 20px;
  font-size: 14px;
  line-height: 21px;
}

input:not([type="checkbox"]) {
  width: 100%;
  height: 32px;
  padding: 10px 0px 10px 10px;
  border-radius: 10px;
  border: 1px solid #000;
}

[type="checkbox"] {
  width: 9px;
  height: 9.96px;
  margin: 5% 0;
  border: 1px;
  border-radius: 2px;
}

[for="checkbox"] {
  font-size: 9px;
  line-height: 13.5px;
}

.log {
  width: 100%;
  height: 32px;
  background-color: #3a5b22;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  line-height: 19.5px;
  border-radius: 10px;
  border: 1px solid #3a5b22;
}
span {
  display: block;
  margin-top: 10%;
  font-size: 9px;
  line-height: 13.5px;
  text-align: center;
  position: relative;
}

span::before {
  content: "";
  width: 45%;
  border: 2px solid #f5f5f5;
  position: absolute;
  top: 50%;
  left: 0;
}

span::after {
  content: "";
  width: 45%;
  border: 2px solid #f5f5f5;
  position: absolute;
  top: 50%;
  right: 0;
}

button:not([class]) {
  width: 190px;
  height: 32px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

button:nth-of-type(2) {
  margin: 30% 4% 7% 0;
}

button:not([class]) img {
  margin-right: 5px;
}

p:last-of-type {
  text-align: center;
}

.img {
  width: 781.5px;
  height: 1042px;
  background-image: url(../imgs/chris-lee-70l1tDAI6rM-unsplash\ 2.png);
}
