* {
  font-size: 20px !important;
  font-family: Arial, Helvetica, sans-serif;
}

div {
  background-color: #eeeeee !important;
  color: transparent !important;
  width: 400px;
  margin: auto;
  border: none !important;
  position: relative;
}

div::before {
  content: "Elzero";
  color: #000;
  font-weight: bold;
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: 50%;
  margin-left: -20px;
}
